.vscode/
Logs/
Packages/
Temp/

Library/Bee/
Library/BuildInstructions/
Library/BurstCache/
Library/ScriptAssemblies/
Library/Search/
Library/ShaderCache/
Library/StateCache/
Library/TempArtifacts/
Library/ArtifactDB
Library/ArtifactDB-lock
Library/SourceAssetDB
Library/SourceAssetDB-lock

